* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #142d55;
    --secondary-color: #4b92ff;
    --background-login: linear-gradient(
        to right top,
        #0b4e93,
        #175e9d,
        #286ea6,
        #3b7eae,
        #4f8eb5
    );
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    padding: 70px 4px 20px 0px;
}

.navigation {
    position: fixed;
    width: 312px;
    height: 100%;
    background: var(--primary-color);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    padding-left: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 5px;
}

.navigation ul li:hover {
    background-color: var(--secondary-color);
}

.navigation ul li.active {
    background-color: var(--white);
}

.navigation ul li.active a {
    color: var(--primary-color);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
    pointer-events: none;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.role {
    font-size: 24px;
    font-weight: 600;
    padding: 0 10px 0 0;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 70px);
    left: 70px;
}

.a {
    text-decoration: inherit;
}

.topbar {
    position: fixed;
    top: 0;
    height: 60px;
    left: 300px;
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 14px 0 2px;
    transition: 0.5s;
    z-index: 1;
}

.topbar.active {
    width: calc(100% - 70px);
    left: 70px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.card-title {
    font-weight: 700;
    text-align: center;
}

.alert-custom {
    position: fixed;
    width: 30%;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#ocultar {
    display: block;
}

@media (max-width: 768px) {
    #ocultar {
        display: none;
    }
}

#ocultar2 {
    display: block;
}

@media (max-width: 600px) {
    #ocultar2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 80px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .topbar {
        width: 100%;
        left: 0;
    }
    .topbar.active {
        left: 80px;
    }
}

@media (max-width: 480px) {
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 80px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
}
